[submodule "themes/zenburn"]
	path = themes/zenburn
	url = https://github.com/bbatsov/zenburn-emacs
[submodule "themes/sanityinc"]
	path = themes/sanityinc
	url = https://github.com/purcell/color-theme-sanityinc-tomorrow
[submodule "themes/moe"]
	path = themes/moe
	url = https://github.com/kuanyui/moe-theme.el
[submodule "themes/material"]
	path = themes/material
	url = https://github.com/cpaulik/emacs-material-theme
[submodule "themes/cyberpunk"]
	path = themes/cyberpunk
	url = https://github.com/n3mo/cyberpunk-theme.el
[submodule "themes/anti-zenburn"]
	path = themes/anti-zenburn
	url = https://github.com/m00natic/anti-zenburn-theme
[submodule "themes/ample"]
	path = themes/ample
	url = https://github.com/jordonbiondo/ample-theme
[submodule "themes/alect"]
	path = themes/alect
	url = https://github.com/alezost/alect-themes
[submodule "themes/gotham"]
	path = themes/gotham
	url = https://github.com/wasamasa/gotham-theme
[submodule "themes/tangotango"]
	path = themes/tangotango
	url = https://github.com/juba/color-theme-tangotango
[submodule "themes/gruber"]
	path = themes/gruber
	url = https://github.com/rexim/gruber-darker-theme
[submodule "themes/ample-zen"]
	path = themes/ample-zen
	url = https://github.com/mjwall/ample-zen
[submodule "themes/noctilux"]
	path = themes/noctilux
	url = https://github.com/sjrmanning/noctilux-theme
[submodule "themes/afternoon"]
	path = themes/afternoon
	url = https://github.com/osener/emacs-afternoon-theme
[submodule "themes/grandshell"]
	path = themes/grandshell
	url = https://github.com/steckerhalter/grandshell-theme
[submodule "themes/subatomic"]
	path = themes/subatomic
	url = https://github.com/cryon/subatomic
[submodule "themes/blackboard"]
	path = themes/blackboard
	url = https://github.com/don9z/blackboard-theme.git
