[submodule "themes/zenburn"]
        path = themes/zenburn
        url = https://github.com/bbatsov/zenburn-emacs.git
[submodule "themes/tron-legacy-emacs-theme"]
        path = themes/tron-legacy-emacs-theme
        url = https://github.com/ianpan870102/tron-legacy-emacs-theme.git
[submodule "lisp/immortal-scratch"]
        path = lisp/immortal-scratch
        url = https://github.com/peterzuger/immortal-scratch.git
